.btn-danger:hover {
    background-color: white !important;
    color: #dc3545 !important;
}
.descarea {
    color: #be3455;
    padding-top: 7rem;
    min-width: 340px;
}
.descarea img {
    min-width: 300px;
}
#a {
    padding-top: 7rem;
    margin-top: -7rem;
}
#b {
    padding-top: 7rem;
    margin-top: -7rem;
}
#c {
    padding-top: 7rem;
    margin-top: -7rem;
}
#d {
    padding-top: 7rem;
    margin-top: -7rem;
}