.mainvisual {
    padding-top: 5rem;
    padding-bottom: 14rem;
}
.mainvisual .col {
    min-width: 400px;
}
.slidearea {
    width: 70%;
    min-width: 400px;
    margin: 10rem auto;
}
.descarea {
    margin-top: 10rem;
}
.descarea .col {
    min-width: 400px;
}
#arrow_img {
    width: 30px;
}
.diag {
    width: 100px;
}
.howto {
    margin-top: 10rem;
}
.howto .col{
    min-width: 400px;
}
.btn-danger:hover {
    background-color: white !important;
    color: #dc3545 !important;
}