@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
main {
    color: #be3455;
    width: 80%;
    margin: 0 auto;
    padding: 4rem;
    border: thin solid #be3455;
    border-radius: 30px;
    font-family:"MS ゴシック",monospace;
}
h2 {
    font-weight: lighter;
    font-size: 12rem;
}
h3 {
    font-size: 2.2rem;
    float: left;
    margin-right: 1rem;
}
.title {
    /* overflow: hidden; */
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    margin-bottom: 1.2rem;
}
.title span {
    display: block;
    transform: translate(100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.title.-visible,
.title.-visible span {
  transform: translate(0, 0);
}
.content {
    margin-bottom: 1.2rem;
}
.classroom {
    color: #957980;
    font-size: 1rem;
    clear: both;
}
.job {
    font-size: 1rem;
    padding-top: 1.2rem;
}
.comment {
    color: #5f1728;
    font-size: 1.3rem;
}

.fade{
    animation: fadeIn 1s ease 0.3s 1 normal;
}

.content_wrap{
    margin-top: 6rem;
}

.wrap_title{
    font-size: 3rem;
    margin-bottom: 1.6rem;
}
@keyframes fadeIn { /*animation-nameで設定した値を書く*/
    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}